@import "../custom-theme/index";
// @import "../iconfont/iconfont.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
    background-color: #ddd;
}

html,
body {
    margin: 0;
    padding: 0;
    color: $color-333;
    height: 100%;
}

body {
    font-size: $font-size;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    min-width: 1200px;
}

/********************** element样式修改 -start *******************/
.el-input--medium,
.el-select--medium {
    width: 165px;

    .el-input__inner {
        font-size: $font-size;
    }
}

/*form 表单label、文字按钮 -- 12px*/
.el-form-item__label,
.el-button--text,
.el-radio__label,
.el-checkbox__label,
.el-table {
    font-size: $font-size;
}

.el-select-dropdown__wrap {
    .el-select-dropdown__item {
        font-size: $font-size;
    }
}

/*placeholder -- 12px*/
input::placeholder {
    font-size: $font-size;
    color: #BBBBBB;
}

ul{
    list-style: none;
}
/********************** element样式修改 -end *******************/

.clearfix{
    zoom: 1;
}
.clearfix:after {
    content: ""; //设置内容为空
    height: 0; //高度为0
    line-height: 0; //行高为0
    display: block; //将文本转为块级元素
    visibility: hidden; //将元素隐藏
    clear: both; //清除浮动
}